#footer_container {
  height: 100px auto;
  width: 100%;
  background-color: rgb(89, 89, 243);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#about {
  color: rgb(11, 253, 3);
  font-weight: lighter;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

#privacy {
  color: black;
  cursor: pointer;
  transition: 0.5s;
}

#about_us {
  color: black;
  cursor: pointer;

  transition: 0.5s;
}

#links {
  font-weight: lighter;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

#privacy:hover,
#about_us:hover {
  color: white;
}


h7 {
  color: black;
  cursor: pointer;
  margin: 0;
  transition: 0.5s;
}


h7:hover {
  color: white;
}

#git {
  color: rgb(66, 0, 124);
}

#insta {
  color: rgb(255, 0, 110);
}

#linkdin {
  color: rgb(3, 151, 231);
}