#daysconatiner {
  height: 500px;
  width: 70%;
  border: 1px solid black;
  margin: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;
}

#days {
  height: 200px;
  width: 100px;
  border: 1px solid black;
  margin: auto;
}