#boddy {
  background: linear-gradient(45deg,
      #0091ff,
      #2e2a95,
      #4fa3d1);
  ;
}

.today_box {

  margin: 20px auto;
  border-radius: 25px 25px 25px 25px;
}

#location {
  text-align: center;
  font-size: xx-large;
  padding-top: 10px;
  color: rgb(191, 26, 26);
}

#pic {
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: yellow;
  z-index: 1;
  transform: scale(1.5);
}

#weather {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 10px;
  color: rgb(255, 255, 255);
}

#temp {
  text-align: center;
  font-size: 3rem;
  font-weight: bolder;
  padding-top: 10px;
  color: rgb(26, 191, 26);
}

#location_button {
  display: block;
  margin: 15px auto;
  padding: 10px 20px;
  font-size: large;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 40px 40px 40px 40px;
  cursor: pointer;
}

#weektitle {
  text-align: center;
  font-weight: bolder;
  color: rgb(231, 4, 4);
}

#weekly_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  width: 80%;
  margin: 20px auto;
  background-color: #848b84;
  border-radius: 10px 10px 10px 10px;
  justify-content: space-around;
}

#weather_info {
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  color: blue;
}

#weather_tempp {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  font-size: 1.4rem;
  color: aliceblue;
}

#symbol {
  color: rgb(0, 255, 229);
}